.fab{
    position: fixed;
    bottom: 10vmin;
    right: 10vmin;
    color: #fff;
    z-index: 1;
}

.fab label.fab-label:hover{
    transform: scale(1.1) translate(-3px, -3px);
}


.fab input{
    position: absolute;
    opacity: 0;
}

.fab label.fab-label{
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.5);
    background: #396ad3;
    position: absolute;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    bottom: 0;
    right: 0;
    transition: transform 0.2s ease-in-out;
}

.fab input:checked ~ label.fab-label{
    transform: translateY(-330px) rotate(45deg);
    box-shadow: none;
    background: transparent;
}

.fab .ripple{
    background: #396ad3;
    width: 80px;
    height: 80px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.2s ease-in-out;
}

.fab input:checked ~ .ripple-container .ripple{
    transform: scale(14);
}

.fab .ripple-container{
    position: relative;
    pointer-events: none;
    /* overflow: hidden; */
    border-radius: 5px;
    width: 300px;
    /* height: 400px; */
}

.fab input:checked ~ .fab-menu{
    pointer-events: auto;
    transform: translateY(-400px);
    opacity: 1;
}

.fab-menu{
    pointer-events: none;
    position: absolute;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    padding-top: 55px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
}

.fab-menu-item{
    height: 70px;
    width: 100%;
}

.fab-menu-item button{
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.fab-menu-item button:hover{
    background-color: #2a57b8;
}
